.jumbotron {
  text-align: center;
}

h6 {
  font-size: 16px
}

p {
  font-size: 14px
}

.c {
  display: none;
  width: 250px;
  height: 250px;
  margin-top: 20px
}

.css {
  display: none;
  width: 250px;
  height: 250px;
  margin-top: 20px
}
.java {
  display: none;
  width: 250px;
  height: 250px;
  margin-top: 20px
}
.cursor {
  cursor: pointer;
}

.btn {
  margin: 20px
}

img {
  margin-bottom: 30px
}
